.projects {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: white;
    display: flex;
    justify-content: center;
}

.row {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 501px) {
    .projects {
        margin-left: 0px;
        margin-right: 0px;
    }
}