.grid {
    color: #72c3df;
    font-size: 15pt;
}

.inner-grid {
    background-color: black;
    border: 5px outset #72c3df;
}

.inner-grid:active {
    opacity: .8;
    border: 5px solid #72c3df;
}