body {
  background: url('./assets/images/background.jpg') no-repeat center center fixed;
  background-size: cover;
  background-color: orange;
}

.App {
  text-align: center;
}

.Jumbotron {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 25px;
}